#about_container {
    --box-shadow-height: 10px;
}

#about_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: space-around;
    align-items: flex-end;
}

.emphasize_box {
    box-shadow: var(--box-shadow-height) var(--box-shadow-height) var(--about-bittersweet);
    margin: 0 var(--box-shadow-height) var(--box-shadow-height) 0;
}

.about_card_cover {
    position: absolute;
    width: 100%;
    height: 100%;
}

#about_headshot {
    flex-grow: 1;
    margin-bottom: 2rem;
    clip-path: inset(0 0 100% 0);
    animation-delay: 0.6s !important;
    animation: roll-in-top 0.2s forwards;
}
#about_headshot_img {
    max-height: 260px;
    object-fit: scale-down;
}
#about_headshot::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--about-bittersweet);
    animation: roll-out-bottom 0.6s forwards;
    animation-delay: 0.8s;
}

@keyframes roll-out-bottom {
    from {
        top: 0
    }
    to {
        top: 100%;
    }
}

@keyframes roll-in-top {
    from {
        clip-path: inset(0 0 100% 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}


.about_title_card {
    /* color */
    background-color: var(--about-rich-black-fogra-39);
    color: white;
    /* sizing */
    box-sizing: border-box;
    padding: 2rem;
    flex-grow: 2;
    margin-right: 3.3rem;
    clip-path: inset(calc(-1 * var(--box-shadow-height)) 100% calc(-1 * var(--box-shadow-height)) calc(-1 * var(--box-shadow-height)));
    animation-delay: 0.2s;
    animation: roll-in-left 0.2s forwards;
}
.about_title_card::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--about-bittersweet);
    animation: roll-out-right 0.4s forwards;
    animation-delay: 0.4s;
}

@keyframes roll-out-right {
    from {
        left: 0
    }
    to {
        left: 100%;
    }
}

@keyframes roll-in-left {
    from {
        clip-path: inset(calc(-1 * var(--box-shadow-height)) 100% calc(-1 * var(--box-shadow-height)) calc(-1 * var(--box-shadow-height)));
    }
    to {
        clip-path: inset(calc(-1 * var(--box-shadow-height)) calc(-1 * var(--box-shadow-height)) calc(-1 * var(--box-shadow-height)) calc(-1 * var(--box-shadow-height)));
    }
}

#about_header_card {
    display: flex;
    flex-direction: row;
}

#about_social {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about_title {
    flex-grow: 2;
    font-size: 5rem;
    font-style: italic;
    margin: 0;
}

.about_social_entry_icon {
    width: 36px;
    height: 36px;
    margin-top: 0.75rem;
    fill: var(--about-bittersweet);
    transition: ease 0.1s;
}

.about_social_entry_icon:hover {
    width: 48px;
    height: 48px;
    cursor: pointer;
    fill: var(--about-naples-yellow);
}

.about_social_anchor {
    display: block;
}

#about_tagline {
    font-size: 2rem;
    margin-bottom: 0;
}

#about_detail {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#about_detail_title {
    font-size: 2rem;
    font-style: italic;
}

#about_detail_body {
    animation-delay: 0.25s;
    width: calc(100% - var(--box-shadow-height));
}
#about_detail_body:before {
    animation-delay: 0.7s;
}

#about_detail_entries {
    display: flex;
}

.about_detail_entry {
    flex-grow: 1;
}

.about_detail_entry_text {
    font-size: 1.5rem;
}

.about_detail_entry_icons {
    display: flex;
}

.about_detail_entry_icon_box {
    margin-right: 1rem;
}

.about_detail_entry_icon {
    width: 56px;
    height: 56px;
    fill: var(--about-bittersweet);
    transition: ease 0.1s;
}

.about_detail_entry_icon_box:hover > .about_detail_entry_icon{
    width: 72px;
    height: 72px;
    fill: var(--about-naples-yellow);
}

.about_detail_entry_icon_box:hover > .about_detail_entry_icon_label {
    font-size: 1.2rem;
}

.about_detail_entry_icon_label {
    color: var(--about-naples-yellow);
    font-size: 0;
    margin: 0;
    transition: ease 0.1s;
}