#resume_download_section {
    display: flex;
    width: 100%;
    justify-content: center;
}

#resume_download {
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border: 2px solid var(--resume-black-coral);
    color: var(--resume-black-coral);
    background-color: var(--resume-primary-mint-cream);
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
}

#resume_download:hover {
    background-color: rgba(var(--resume-slate-gray-rgb), 0.2);
}

#resume_download:active {
    transform: scale(0.95);
    opacity: 50%;
}

#resume_download_icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--resume-black-coral);
}

#resume_container {
    max-width: 800px;
}

.resume_section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.resume_link_text {
    margin: 0;
    color: var(--extra-primary-midnight-green-eagle-green);
}

.resume_link_text:hover {
    color: rgba(var(--extra-primary-midnight-green-eagle-green-rgb), 0.5);
}

.resume_social_anchor {
    display: flex;
    margin-top: 0.5rem;
    color: var(--extra-primary-midnight-green-eagle-green);
    fill: var(--extra-primary-midnight-green-eagle-green);
}

.resume_social_anchor:hover {
    fill: rgba(var(--extra-primary-midnight-green-eagle-green-rgb), 0.5);
    color: rgba(var(--extra-primary-midnight-green-eagle-green-rgb), 0.5);
}

.resume_social_icon {
    width: 1rem;
    height: 1rem;
    padding-right: 0.5rem;
}

#resume_header_title {
    flex-grow: 1;
}

#resume_header_name {
    margin: 0;
}

#resume_email_line {
    display: flex;
    align-items: center;
}

#resume_email_link:hover {
    color: rgba(var(--extra-primary-midnight-green-eagle-green-rgb), 0.5) !important;
}

#resume_email_link:-webkit-any-link {
    color: var(--extra-primary-midnight-green-eagle-green);
}


#resume_email_copy {
    fill: var(--extra-primary-midnight-green-eagle-green);
    color: var(--extra-primary-midnight-green-eagle-green);
    padding-left: 0.5rem;
}

#resume_email_copy:hover {
    fill: rgba(var(--extra-primary-midnight-green-eagle-green-rgb), 0.5);
    cursor: pointer;
}

#resume_header_details {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1rem;
}

#resume_stack_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.resume_stack_entry {
    margin: 0;
    padding-right: 1rem;
}

.resume_section_header {
    margin-bottom: 0;
}

.resume_entry {
    width: 100%
}

.resume_entry_name {
    margin-bottom: 0;
}

.resume_entry_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.resume_entry_header h4 {
    margin: 0;
}

.resume_experience_header, .resume_experience_point::before {
    color: var(--resume-new-york-pink);
}

.resume_leadership_header, .resume_leadership_point::before {
    color: var(--resume-black-coral);
}

.resume_education_header, .resume_education_point::before {
    color: var(--resume-persian-orange);
}

.resume_entry_body_point {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0.2rem;
}

.resume_entry_body_point::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-size: xx-large;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1rem; /* Also needed for space (tweak if needed) */
    margin-left: -1.35rem; /* Also needed for space (tweak if needed) */
    line-height: 1rem;
    transform: translateY(0.35rem);
}

h1, h2, h3, h4, a, li, span {
    position: relative;
}

h1:after, h2:after, h3:after, h4:after, a:after, p:after, li:after, span:after {
    z-index: 110;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: right;
    background-color: var(--resume-primary-mint-cream);
    animation: line_retreat 1s forwards;
    animation-delay: inherit;
}

@keyframes line_retreat {
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(0);
    }
}

.notransition:after {
    animation: none;
    background: none;
}

@media only screen and (min-width: 725px) {
    #resume_container {
        margin-top: 2rem;
    }

    #resume_header_details {
        margin-top: 0;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .resume_social_anchor {
        justify-content: flex-end;
    }
}

@media print {
    .resume_social_anchor {
        justify-content: flex-end;
    }
}
