
#about_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: space-around;
    align-items: flex-end;
}

.emphasize_box {
    box-shadow: 10px 10px var(--about-bittersweet);
    margin: 0 10px 10px 0;
}

#about_headshot {
    /*border-radius: 50%;*/
    flex-grow: 1;
    max-width: 250px;
    margin-bottom: 2rem;
}

.about_title_card {
    /* color */
    background-color: var(--about-rich-black-fogra-39);
    color: white;
    /* sizing */
    box-sizing: border-box;
    padding: 2rem;
    flex-grow: 2;
    /*margin-top: 1.5rem;*/
    margin-right: 6rem;
}

#about_title {
    flex-grow: 2;
    font-size: 5rem;
    font-style: italic;
    margin: 0;
}

#about_tagline {
    font-size: 2rem;
}

#about_detail {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

#about_detail_title {
    font-size: 2rem;
    font-style: italic;
}

#about_detail_body {
    width: calc(100% - 10px);
}

#about_detail_entries {
    display: flex;
}

.about_detail_entry {
    flex-grow: 1;
    min-height: 160px;
}

.about_detail_entry_text {
    font-size: 1.5rem;
}

.about_detail_entry_icons {
    display: flex;
}

.about_detail_entry_icon_box {
    margin-right: 1rem;
}

.about_detail_entry_icon {
    width: 56px;
    height: 56px;
    fill: var(--about-bittersweet);
    transition: ease 0.1s;
}

.about_detail_entry_icon:hover {
    width: 72px;
    height: 72px;
    fill: var(--about-naples-yellow);
}

.about_detail_entry_icon:hover + .about_detail_entry_icon_label {
    font-size: 1.2rem;
}

.about_detail_entry_icon_label {
    color: var(--about-naples-yellow);
    font-size: 0;
    margin: 0;
    transition: ease 0.1s;
}