/************* Nav Bar **********/
#nav {
    /*Positioning*/
    position: relative;
    z-index: 200;
    top: 0;
    /*Size*/
    height: 3.5rem;
    width: 100%;
    /*Display*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

#nav:hover .nav_btn, #parent.hover .nav_btn {
    flex-grow: 1;
    height: 100%;
}

.nav_btn {
    /*size*/
    height: 2rem;
    flex-grow: 1;
    /*font*/
    font-weight: 400;
    font-size: 0.9rem;
    /*animate*/
    transition: ease 0.1s;
}

.nav_btn_selected {
    flex-grow: 3;
    height: 100%;
    font-size: 2rem;
    font-family: 'Sora', sans-serif;
}


.nav_btn:hover {
    cursor: pointer;
    flex-grow: 3 !important;
}

/************* Body **********/
#page {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

#page_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.page_content {
    position: relative;
    display: flex;
    z-index: 100;
    top: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.cont_animate {
    height: 50px;
    animation: open-page 0.25s forwards;
}

.cont_start {
    overflow: hidden;
    height: 0;
}

@keyframes open-page {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
        left: 0;
    }
}

.cont_hidden {
    visibility: hidden;
}

.content_container {
    box-sizing: border-box;
    padding: 10rem 0 10rem 0;
    scroll-margin-bottom: 10rem;
    height: 100%;
    width: 80%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    /* scroll */
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content_container::-webkit-scrollbar {
    display: none;
}
