/************* mobile-nav Bar **********/
#top_title {
    position: absolute;
    text-align: center;
    font-family: 'Sora', sans-serif;
    z-index: 300;
    width: 100%;
    height: 6vh;
    background-color: white;
    transform-origin: top left;
}

.top_title_refresh_animation {
    animation: refresh_title_bar 0.5s forwards;
}

@keyframes refresh_title_bar {
    0% {
        transform: translateY(0);
        background-color: var(--title-origin-color);
    }
    50% {
        transform: translateY(-100%);
        background-color: var(--title-origin-color);
    }
    51% {
        transform: translateY(-100%);
        background-color: var(--title-destination-color);
    }
    100% {
        transform: translateY(0);
        background-color: var(--title-destination-color);
    }
}

.top_title_text_refresh_animation:after {
    content: 'test';
    display: block;
    animation: refresh_title_text 0.5s forwards;
}

@keyframes refresh_title_text {
    0% {
        content: var(--title-origin-content);
    }
    50% {
        content: var(--title-origin-content);
    }
    51% {
        content: var(--title-destination-content);
    }
    100% {
        content: var(--title-destination-content);
    }
}

#top_title_text {
    font-size: 5vh;
    margin-top: 0;
}

.bottom-nav_container {
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 300;
    width: 100%;
    height: fit-content;
    max-height: 20vh;
}

.bottom-nav_btn {
    flex-grow: 1;
}

.bottom-nav_btn:before {
    content: '';
    display: block;
    padding-top: 100%;
    flex-grow: 1;
    transform: scale(1, 0.9);
    background-color: var(--common-feldgrau);
    transform-origin: bottom;
    transition: 0.15s;
}

.bottom-nav_btn_selected:before {
    transform: scale(1, 0);
}

#bottom-nav_icons {
    z-index: 301;
    pointer-events: none;
}

.bottom-nav_icon {
    flex-grow: 1;
    flex-basis: 0;
    background: none;
    display: flex;
}

.bottom-nav_icon:before {
    content: '';
    display: block;
    padding-top: 100%;
    width: 0;
}

.bottom-nav_icon_image {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    transform: scale(0.5, 0.5);
    transform-origin: center;
    transition: 0.1s;
}

.bottom-nav_icon_image_selected {
    fill: currentColor !important;
}

/************* top-nav Bar **********/
#top-nav {
    /*Positioning*/
    position: relative;
    z-index: 200;
    top: 0;
    /*Size*/
    height: 3.5rem;
    width: 100%;
    /*Display*/
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    /*Hide mobile*/
    display: none;
}

#top-nav:hover .top-nav_btn, #parent.hover .top-nav_btn {
    flex-grow: 1;
    height: 100%;
}

.top-nav_btn {
    /*size*/
    height: 2rem;
    flex-grow: 1;
    /*font*/
    font-weight: 400;
    font-size: 0.9rem;
    /*animate*/
    transition: ease 0.1s;
}

.top-nav_btn_selected {
    flex-grow: 3;
    height: 100%;
    font-size: 2rem;
    font-family: 'Sora', sans-serif;
}


.top-nav_btn:hover {
    cursor: pointer;
    flex-grow: 3 !important;
}

/************* Body **********/
#page {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

#page_bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.page_content {
    position: relative;
    display: flex;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    transform-origin: bottom left;
}

.cont_animate {
    animation: expand 0.25s forwards;
}

.cont_hidden {
    visibility: hidden;
}

.content_container {
    box-sizing: border-box;
    padding: 10vh 0 10vh 0;
    scroll-margin-bottom: 15vh;
    height: 100%;
    width: 80%;
    max-width: 1024px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* scroll */
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content_container::-webkit-scrollbar {
    display: none;
}

/****** landscape ******/
@media only screen and (min-width: 650px) and (min-height: 650px) {
    .page_content {
        transform-origin: top left;
    }

    .content_container {
        justify-content: center;
    }

    #top-nav {
        display: flex;
    }

    #bottom-nav, #top_title, .bottom-nav_container {
        display: none;
    }
}